div#menus
    div.main-app#split-one(ng-class="{'split': isSplit}" ng-controller='DefaultMapController' )
        nav.top-bar(data-topbar ng-cloak ng-show='user.currentProfile')
            ul.title-area
                li.name
                    h1
                        a(href='#') Ceres imaging
                li.toggle-topbar.menu-icon
                    a menu
            section.top-bar-section
                ul.right
                    li
                        a(ng-hide='isSplit' ng-click='split()')
                            i.el-icon-link
                    li
                        a(ng-click='export($event, 1)')
                            i.el-icon-picture
                    li
                        a(ng-click='print($event, 1)')
                            i.el-icon-print
                    li.has-dropdown(ng-hide='isSplit')
                        a(href='#') settings
                        ul.dropdown
                            li(ng-class="{'active': showLayerControl}" ng-click='toggleLayerControl()')
                                a layer control
                            li(ng-class="{'active': showLegend}" ng-click='toggleLegend()')
                                a legend
                    li.active
                        a.exit-off-canvas(ng-hide='isSplit' href='#' rel='logout') logout
                ul.left
                    li
                        a Date
                    li
                        select(ng-model='currentDate' ng-options='item.date as item.date for item in dates')
        #opacity-sliders.row(ng-show='showLayerControl')
            .slide-container.small-6.large-12(ng-repeat='overlay in layers.overlays')
                label {{overlay.name}}
                div(range-slider min='0' max='1' model-min='0' decimal-places='1' step='0.1' pin-handle='min' model-max='overlay.layerParams.opacity')
        .cursor-location
            span.lat lat: {{cursor.lat | latLng}} W
            span &nbsp;&nbsp;
            span.lng lng: {{cursor.lng | latLng}} N

        .off-canvas-wrap(data-offcanvas)
            .inner-wrap(ng-class="{'split-inner': isSplit}")
                a.left-off-canvas-toggle.menu-icon( ng-cloak ng-show='user.currentProfile')
                    span
                        #menu-icon
                            i.el-icon-th-list    {{username}}

                section.left-off-canvas-menu(ng-cloak ng-show='user.currentProfile')
                    ul.off-canvas-list
                        li
                            label Maps
                        li( ng-repeat='center in centers')
                            a(ng-class="{'active':$index===centerIndex}" ng-click='moveCenter($index)') {{fields[$index]}}
                section.main-section
                    #index-container
                        section.main-section.medium-12.text-center
                            div#map-container
                                leaflet#map1(ng-init='mapInit("map1")' center='center' layers='layers' defaults='defaults' url-hash-center='yes')
                    // #rss(ng-controller='RssController')
                    //     #menu-icon(ng-click="loadFeed()")
                    //         i.el-icon-rss  Weather
                    //     p(ng-class="{'split': isSplit}" ng-show="feedDisplay").
                    //         {{feed}}


    div.main-app#split-two.split-view(ng-show='isSplit' ng-controller='DefaultMapController')
        nav.top-bar(data-topbar ng-cloak ng-show='user.currentProfile')
            ul.title-area
                li.toggle-topbar.menu-icon
                    a menu
            section.top-bar-section
                ul.right
                    li
                        a(ng-click='split()')
                            i.el-icon-link
                    li
                        a(ng-click='export($event, 2)')
                            i.el-icon-picture
                    li
                        a(ng-click='print($event, 2)')
                            i.el-icon-print
                    li.has-dropdown
                        a settings
                        ul.dropdown
                            li(ng-class="{'active': showLayerControl}" ng-click='toggleLayerControl()')
                                a layer control
                            li(ng-class="{'active': showLegend}" ng-click='toggleLegend()')
                                a legend
                    li.active
                        a.exit-off-canvas(href='#' rel='logout') logout
                ul.left
                    li
                        a Date
                    li
                        select(ng-model='currentDate' ng-options='item.date as item.date for item in dates')
        #opacity-sliders.row(ng-show='showLayerControl')
            .slide-container.small-6.large-12(ng-repeat='overlay in layers.overlays')
                label {{overlay.name}}
                div(range-slider min='0' max='1' model-min='0' decimal-places='1' step='0.1' pin-handle='min' model-max='overlay.layerParams.opacity')
        .cursor-location
            span.lat lat: {{cursor.lat | latLng}} W
            span &nbsp;&nbsp;
            span.lng lng: {{cursor.lng | latLng}} N

        .off-canvas-wrap(data-offcanvas)
            .inner-wrap(ng-class="{'split-inner': isSplit}")
                a.left-off-canvas-toggle.menu-icon( ng-cloak ng-show='user.currentProfile')
                    span
                        #menu-icon
                            i.el-icon-th-list    {{username}}

                section.left-off-canvas-menu(ng-cloak ng-show='user.currentProfile')
                    ul.off-canvas-list
                        li
                            label Maps
                        li( ng-repeat='center in centers')
                            a(ng-class="{'active':$index===centerIndex}" ng-click='moveCenter($index)') {{fields[$index]}}
                section.main-section
                    #index-container
                        section.main-section.medium-12.text-center
                            div#map-container
                                leaflet#map2(ng-init='mapInit("map2")' center='center' layers='layers' defaults='defaults' url-hash-center='yes')
                    // #rss(ng-controller='RssController')
                    //     #menu-icon(ng-click="loadFeed()")
                    //         i.el-icon-rss  Weather
                    //     p(ng-class="{'split': isSplit}" ng-show="feedDisplay").
                    //         {{feed}}
