div#menus
    div.main-app#split-one(ng-class="{'split': isSplit}" ng-controller='DefaultMapController' )
        nav.top-bar(data-topbar ng-cloak ng-show='user.currentProfile')
            ul.title-area
                li.name
                    a(href='#')
                        img(src='images/logo-1.png')
                li.toggle-topbar.menu-icon
                    a menu
            section.top-bar-section
                ul.right
                    li#split-button.has-tip(data-tooltip title='split view')
                        a(ng-hide='isSplit' ng-click='split()') split
                    li.has-dropdown(ng-hide='isSplit')
                        a(href='#') settings
                        ul.dropdown
                            li(ng-class="{'active': showLayerControl}" ng-click='toggleLayerControl()')
                                a layer control
                            li(ng-class="{'active': showLegend}" ng-click='toggleLegend()')
                                a legend
                    li.active
                        a.exit-off-canvas(ng-hide='isSplit' href='#' rel='logout') logout
                ul.left
                    li
                        a Date
                    li
                        select(ng-model='currentDate' ng-options='item as item for (item, key) in dates')
        .opacity-sliders.row(ng-show='showLayerControl')
            .slide-container.small-6.large-12(ng-repeat='overlay in layers.overlays')
                label {{overlay.name}}
                input(type='checkbox' ng-model='overlay.layerParams.opacity' ng-true-value='1' ng-false-value='0' ng-checked='overlay.layerParams.opacity')
                div(range-slider min='0' max='1' model-min='0' decimal-places='1' step='0.1' pin-handle='min' model-max='overlay.layerParams.opacity' filter='percentage')

        .layerStats.row(ng-show='stattemp')
            .stats-container.small-12
                nvd3-stacked-area-chart(data='stattemp' showYAxis='true' interpolate='step' color='tempColor()' tooltips='true' interactive='true' tooltipcontent='toolTipContent()' width='120' height='200' margin='{top:12,right:25,left:50,bottom:10}')
                    svg

        .cursor-location
            span.lat lat: {{cursor.lat | latLng}} W
            span &nbsp;&nbsp;
            span.lng lng: {{cursor.lng | latLng}} N

        .off-canvas-wrap(data-offcanvas)
            .inner-wrap(ng-class="{'split-inner': isSplit}")
                a.left-off-canvas-toggle.menu-icon( ng-cloak ng-show='user.currentProfile')
                    span
                        #menu-icon.has-tip(data-tooltip title='fields')
                            i.el-icon-th-list    {{username}}

                section.left-off-canvas-menu(ng-cloak ng-show='user.currentProfile')
                    ul.off-canvas-list
                        li
                            label Fields
                        li( ng-repeat='center in centers')
                            a(ng-class="{'active':$index===centerIndex}" ng-click='moveCenter($index)') {{fields[$index].name}}
                section.main-section
                    #index-container
                        section.medium-12.text-center
                            div#map-container
                                leaflet#map1(ng-init='mapInit("map1")' center='center'  layers='layers' defaults='defaults' url-hash-center='yes')


    div.main-app#split-two.split-view(ng-show='isSplit' ng-controller='DefaultMapController')
        nav.top-bar(data-topbar ng-cloak ng-show='user.currentProfile')
            ul.title-area
                li.toggle-topbar.menu-icon
                    a menu
            section.top-bar-section
                ul.right
                    li
                        a(ng-click='split()') split
                    li.has-dropdown
                        a settings
                        ul.dropdown
                            li(ng-class="{'active': showLayerControl}" ng-click='toggleLayerControl()')
                                a layer control
                            li(ng-class="{'active': showLegend}" ng-click='toggleLegend()')
                                a legend
                    li.active
                        a.exit-off-canvas(href='#' rel='logout') logout
                ul.left
                    li
                        a Date
                    li
                        select(ng-model='currentDate' ng-options='item as item for (item, key) in dates')
        .opacity-sliders.row(ng-show='showLayerControl')
            .slide-container.small-6.large-12(ng-repeat='overlay in layers.overlays')
                label {{overlay.name}}
                input(type='checkbox' ng-model='overlay.layerParams.opacity' ng-true-value='1' ng-false-value='0' ng-checked='overlay.layerParams.opacity')
                div(range-slider min='0' max='1' model-min='0' decimal-places='1' step='0.1' pin-handle='min' model-max='overlay.layerParams.opacity' filter='percentage')

        .layerStats.row(ng-show='stattemp')
            .stats-container.small-12
                nvd3-stacked-area-chart(data='stattemp' showYAxis='true' interpolate='step' color='tempColor()' tooltips='true' interactive='true' tooltipcontent='toolTipContent()' width='120' height='200' margin='{top:12,right:25,left:50,bottom:10}')
                    svg

        .cursor-location
            span.lat lat: {{cursor.lat | latLng}} W
            span &nbsp;&nbsp;
            span.lng lng: {{cursor.lng | latLng}} N

        .off-canvas-wrap(data-offcanvas)
            .inner-wrap(ng-class="{'split-inner': isSplit}")
                a.left-off-canvas-toggle.menu-icon( ng-cloak ng-show='user.currentProfile')
                    span
                        #menu-icon
                            i.el-icon-th-list    {{username}}

                section.left-off-canvas-menu(ng-cloak ng-show='user.currentProfile')
                    ul.off-canvas-list
                        li
                            label Maps
                        li( ng-repeat='center in centers')
                            a(ng-class="{'active':$index===centerIndex}" ng-click='moveCenter($index)') {{fields[$index].name}}
                section.main-section
                    #index-container
                        section.medium-12.text-center
                            div#map-container
                                leaflet#map2(ng-init='mapInit("map2")' center='center' layers='layers' defaults='defaults' url-hash-center='yes')

#marker-modal.reveal-modal.tiny(data-reveal)
    h4 Enter label
    input(type='text')
    a.button.small save
    a.close-reveal-modal &#215

