#index-container(ng-controller='DefaultMapController')
    section.main-section.medium-12.text-center
        div#map-container
            leaflet(center='center' layers='layers' defaults='defaults')
