#index-container
    section.main-section.medium-12.text-center
        div#map-container(ng-controller='DefaultMapController')
            leaflet(center='center' layers='layers' defaults='defaults')
