#login-container
    .row
        .medium-12.text-center
            #login-heading
                h1 Ceres Imaging
                h3 Conserving the world's resources
    .row
        .medium-12.text-center
            #login-button.radius-50(ng-hide='user.currentProfile')
                a.button.radius(rel='login') Log in
