#login-container
    .row
        .medium-12.text-center
            #login-heading
                img(src='images/logo-1.png' height='50%' width='50%')
                h3 We optimize water and nitrogen
    .row
        .medium-12.text-center
            a.button.radius(href='/account' rel='login') Log in
            a#demo.button.radius(href='login/demo') Demo
            .supported App is only supported by
                a(href='https://www.google.com/intl/en_us/chrome/browser/') Google Chrome
                , Safari, and
                a(href='https://www.mozilla.org/en-US/firefox/new/') Firefox
