#login-container
    .row
        .medium-12.text-center
            #login-heading
                img(src='images/logo-1.png' height='50%' width='50%')
                h3 We optimize water and nitrogen
    .row
        .medium-12.text-center
            #login-button.radius-50(ng-hide='user.currentProfile')
                a.button.radius(rel='login') Log in
