doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Ceres Imaging Admin
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet' href='adminscripts/jsoneditor.css')
    script( src='//code.jquery.com/jquery-1.10.2.min.js' )
    script( src='//code.jquery.com/ui/1.10.4/jquery-ui.js' )
    script( src="https://js.userbin.com?177262344831172" )
  body
    .container
        button(href='#' rel='signup') Sign up
        button(rel='signup') Sign up
      // .ui-widget.row
      //   .col-sm-12
      //     label( for='usersearch' ) search user:
      //     input#usersearch
      //     button.btn.btn-primary#search-btn( type='button' ) Search
      //     button.btn.btn-primary#new-btn( type='button' ) New User
      // .row
      //   .col-sm-12
      //     #notification
      // .row
      //   #editor-holder.json-editor.col-sm-12
      // .row
      //   .col-sm-12
      //     button.btn.btn-primary#update-btn( type='button' ) Update
    style.
      #editor-holder{
        margin-bottom: 20px;
        border-bottom: 2px solid black;
      }
      #notification{
        border: 1px green solid;
        padding: 10px;
        color: green;
        font-weight: 2em;
      }
