extends layout

block body
    div#menus(ng-controller='MenuController')
        nav.top-bar(data-topbar ng-cloak ng-show='user.currentProfile')
            ul.title-area
                li.name
                    h1
                        a(href='#') Ceres imaging
                li.toggle-topbar.menu-icon
                    a menu
            section.top-bar-section
                ul.right
                    li.has-dropdown
                        a(href='#') settings
                        ul.dropdown
                            li
                                a(href='#') first link
                    li.active
                        a.exit-off-canvas(href='#' rel='logout') logout
                ul.left
                    li
                        a(href='#') button

        .off-canvas-wrap(data-offcanvas)
            .inner-wrap
                a.left-off-canvas-toggle.menu-icon( ng-cloak ng-show='user.currentProfile')
                    span
                        #menu-icon
                            i.el-icon-th-list   farms

                section.left-off-canvas-menu(ng-cloak ng-show='user.currentProfile')
                    ul.off-canvas-list
                        li
                            label Maps
                        li( ng-repeat='center in getCenters()')
                            a(ng-class="{'active':$index===centerIndex}" ng-click='moveCenter($index)') Map {{$index+1}}
                section.main-section
                    div(ng-view)
